<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>HEART STROKE</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/slick.css"/>

    <link href="/static/css/tooplate-little-fashion.css" rel="stylesheet">
    <!--

    Tooplate 2127 Little Fashion

    https://www.tooplate.com/view/2127-little-fashion

    -->
</head>

<body>

<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="index.html">
                <strong><span>HEART</span> STROKE</strong>
            </a>

            <div class="d-lg-none">
                <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

                <a href="product-detail.html" class="bi-bag custom-icon"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="training.html">Training</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="prediction.html">Prediction</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="chart.html">Chart</a>
                    </li>
                </ul>

                <!--                        <div class="d-none d-lg-block">-->
                <!--                            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>-->

                <!--                            <a href="product-detail.html" class="bi-bag custom-icon"></a>-->
                <!--                        </div>-->
            </div>
        </div>
    </nav>
    <form action="">
        <section class="slick-slideshow">
            <div class="slick-custom">
                <img src="/static/images/h5.jpg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Cardiovascular disease</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5"> (CVD) is a class of diseases that involve the heart or blood vessels. CVD includes coronary artery diseases (CAD) such as angina and myocardial infarction (commonly known as a heart attack).</p>

                                <a href="about.html" class="btn custom-btn">Learn more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="/static/images/h9.png" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Other CVDs include stroke</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5"> heart failure, hypertensive heart disease, rheumatic heart disease, cardiomyopathy, abnormal heart rhythms, congenital heart disease, valvular heart disease, carditis, aortic aneurysms, peripheral artery disease, thromboembolic disease, and venous thrombosis.</p>

                                <a href="product.html" class="btn custom-btn">Explore products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="/static/images/h3.jpg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">CVD</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Cardiovascular diseases are the leading cause of death worldwide except Africa. Together CVD resulted in 17.9 million deaths (32.1%) in 2015, up from 12.3 million (25.8%) in 1990.</p>

                                <!--                                    <a href="contact.html" class="btn custom-btn">Work with us</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </form>

<!-- JAVASCRIPT FILES -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/Headroom.js"></script>
<script src="static/js/jQuery.headroom.js"></script>
<script src="static/js/slick.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>
